In [1]:
#importing initial libraries

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df2=pd.read_excel("FINALTABLE.xlsx")
df2

,ID,Name,location,Cuisines,rating,Dining_review,Delivery_Reviews,cost_for_one
0,0,Kannur Food Point,BTM,Kerala,3.8,557,48300,200
1,0,Kannur Food Point,BTM,Chinese,3.8,557,48300,200
2,0,Kannur Food Point,BTM,South Indian,3.8,557,48300,200
3,0,Kannur Food Point,BTM,Arabian,3.8,557,48300,200
4,0,Kannur Food Point,BTM,Juices,3.8,557,48300,200
...,...,...,...,...,...,...,...,...
2881,645,Randhan - A - Bandhan,Wilson Garden,Desserts,3.3,0,366,200
2882,646,Amudham Biryani,Wilson Garden,Biryani,NaN,0,0,200
2883,646,Amudham Biryani,Wilson Garden,South Indian,NaN,0,0,200
2884,647,Green Kitchen Palace,City Market,Biryani,NaN,0,4,200
2885,647,Green Kitchen Palace,City Market,Street Food,NaN,0,4,200

In [3]:
df2.isnull().sum()

ID                    0
Name                  0
location              0
Cuisines              1
rating              106
Dining_review         0
Delivery_Reviews      0
cost_for_one          0
dtype: int64

In [4]:
df2['rating'].fillna(df2['rating'].mean(),inplace=True)
df2.dropna(inplace=True)

In [5]:
df2.isnull().sum()

ID                  0
Name                0
location            0
Cuisines            0
rating              0
Dining_review       0
Delivery_Reviews    0
cost_for_one        0
dtype: int64

In [6]:
#df2.to_csv("NEW_FINAL.csv")

In [7]:
df2.dtypes

ID                    int64
Name                 object
location             object
Cuisines             object
rating              float64
Dining_review         int64
Delivery_Reviews      int64
cost_for_one          int64
dtype: object

In [69]:
df2.columns

Index(['ID', 'Name', 'location', 'Cuisines', 'rating', 'Dining_review',
       'Delivery_Reviews', 'cost_for_one'],
      dtype='object')

In [41]:

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df2["Cuisines"]=le.fit_transform(df2["Cuisines"])

In [43]:

from sklearn.preprocessing import LabelEncoder
le2=LabelEncoder()
df2["location"]=le2.fit_transform(df2["location"])

In [44]:
df2

,ID,Name,location,Cuisines,rating,Dining_review,Delivery_Reviews,cost_for_one
0,0,Kannur Food Point,1,35,3.80000,557,48300,200
1,0,Kannur Food Point,1,17,3.80000,557,48300,200
2,0,Kannur Food Point,1,71,3.80000,557,48300,200
3,0,Kannur Food Point,1,3,3.80000,557,48300,200
4,0,Kannur Food Point,1,32,3.80000,557,48300,200
...,...,...,...,...,...,...,...,...
2881,645,Randhan - A - Bandhan,63,20,3.30000,0,366,200
2882,646,Amudham Biryani,63,11,3.97295,0,0,200
2883,646,Amudham Biryani,63,71,3.97295,0,0,200
2884,647,Green Kitchen Palace,11,11,3.97295,0,4,200
2885,647,Green Kitchen Palace,11,72,3.97295,0,4,200

In [45]:
X2=df2.drop(['Name','ID','rating', 'Dining_review','Delivery_Reviews','cost_for_one'],axis=1)
Y2=df2['cost_for_one']

In [48]:
X2

      location  Cuisines
0            1        35
1            1        17
2            1        71
3            1         3
4            1        32
...        ...       ...
2881        63        20
2882        63        11
2883        63        71
2884        11        11
2885        11        72

[2885 rows x 2 columns]

In [49]:
from sklearn.tree import DecisionTreeClassifier
dc2=DecisionTreeClassifier()
dc2.fit(X2,Y2)

DecisionTreeClassifier()

0        1
1        1
2        1
3        1
4        1
        ..
2881    63
2882    63
2883    63
2884    11
2885    11
Name: location, Length: 2885, dtype: int32

In [50]:
c='BTM'#input1

In [51]:
d='Chinese' #input 2

In [52]:
case2=pd.DataFrame([{"location":c,"Cuisines":d}])
case2

  location Cuisines
0      BTM  Chinese

In [53]:
case2["Cuisines"]=le.transform(case2["Cuisines"])

In [54]:
case2["location"]=le2.transform(case2["location"])

In [55]:
case2

   location  Cuisines
0         1        17

In [56]:
y_pred2=dc2.predict(case2)

In [57]:
y_pred2

array([150], dtype=int64)