In [32]:
#importing initial libraries

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
df=pd.read_excel(r"C:\Users\91940\Downloads\FINALTABLE.xlsx")
df

,ID,Name,location,Cuisines,rating,Dining_review,Delivery_Reviews,cost_for_one
0,0,Kannur Food Point,BTM,Kerala,3.8,557,48300,200
1,0,Kannur Food Point,BTM,Chinese,3.8,557,48300,200
2,0,Kannur Food Point,BTM,South Indian,3.8,557,48300,200
3,0,Kannur Food Point,BTM,Arabian,3.8,557,48300,200
4,0,Kannur Food Point,BTM,Juices,3.8,557,48300,200
...,...,...,...,...,...,...,...,...
2881,645,Randhan - A - Bandhan,Wilson Garden,Desserts,3.3,0,366,200
2882,646,Amudham Biryani,Wilson Garden,Biryani,NaN,0,0,200
2883,646,Amudham Biryani,Wilson Garden,South Indian,NaN,0,0,200
2884,647,Green Kitchen Palace,City Market,Biryani,NaN,0,4,200
2885,647,Green Kitchen Palace,City Market,Street Food,NaN,0,4,200

In [34]:
df['rating'].fillna(df['rating'].mean(),inplace=True)

In [35]:
#df.isnull().sum()

In [36]:
df.dropna(inplace=True)

In [37]:
df.columns

Index(['ID', 'Name', 'location', 'Cuisines', 'rating', 'Dining_review',
       'Delivery_Reviews', 'cost_for_one'],
      dtype='object')

In [41]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df["Cuisines"]=le.fit_transform(df["Cuisines"])

In [42]:
X=df.drop(['Name','ID','rating', 'Dining_review','Delivery_Reviews','location'],axis=1)
Y=df['location']

In [43]:
X

      Cuisines  cost_for_one
0           35           200
1           17           200
2           71           200
3            3           200
4           32           200
...        ...           ...
2881        20           200
2882        11           200
2883        71           200
2884        11           200
2885        72           200

[2885 rows x 2 columns]

In [44]:
from sklearn.tree import DecisionTreeClassifier
dc=DecisionTreeClassifier()
dc.fit(X,Y)

DecisionTreeClassifier()

In [45]:
a="Kerala"
b=100

In [46]:
case1=pd.DataFrame([{"Cuisines":a,"cost_for_one":b}])

In [47]:
case1

  Cuisines  cost_for_one
0   Kerala           100

In [22]:
case1["Cuisines"]=le.transform(case1["Cuisines"])

In [48]:
y_pred=dc.predict(case1)

ValueError: could not convert string to float: 'Kerala'

In [26]:
list(y_pred)[0]

'BTM'

############################################

In [27]:
import pickle

In [28]:
import warnings

In [29]:
warnings.filterwarnings("ignore")

In [30]:
pickle.dump(dc,open('model.pkl','wb'))

In [31]:
model=pickle.load(open('model.pkl','rb'))