In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv(r"C:\Users\91940\Downloads\table2.csv")

In [6]:
df

,ID,Name,Cousin,Cost_for_one,Rating,Restro_links
0,0,Kannur Food Point,"Kerala, Chinese, South Indian, Arabian, Juices...",200,3.8,https://www.zomato.com/bangalore/kannur-food-p...
1,1,Empire Restaurant,"North Indian, Biryani, Kebab, Chinese, South I...",200,4,https://www.zomato.com/bangalore/empire-restau...
2,2,Falahaar & Kota Kachori,"North Indian, Rajasthani, Fast Food, Mithai, B...",200,3.9,https://www.zomato.com/bangalore/falahaar-kota...
3,3,Domino's Pizza,"Pizza, Fast Food, Desserts, Beverages",200,3.6,https://www.zomato.com/bangalore/dominos-pizza...
4,4,Sri Srinivas Pork Hotel,Fast Food,200,3.3,https://www.zomato.com/bangalore/sri-srinivas-...
...,...,...,...,...,...,...
643,643,Hotel New Prashanth Naati Shyli,"Chinese, North Indian, South Indian, Beverages",200,-,https://www.zomato.com/bangalore/hotel-new-pra...
644,644,Samruddi Nonveg,"South Indian, Biryani",200,-,https://www.zomato.com/bangalore/samruddi-nonv...
645,645,Randhan - A - Bandhan,"Bengali, Mughlai, North Indian, Chinese, Rolls...",200,3.3,https://www.zomato.com/bangalore/randhan-a-ban...
646,646,Amudham Biryani,"Biryani, South Indian",200,-,https://www.zomato.com/bangalore/amudham-birya...
647,647,Green Kitchen Palace,"Biryani, Street Food",200,-,https://www.zomato.com/bangalore/green-kitchen...

In [5]:
df["Cousin"][1]

'North Indian, Biryani, Kebab, Chinese, South Indian, Mughlai, Beverages'

In [7]:
for i in range(len(df["Cousin"])):
    df["Cousin"][i]=(list(df["Cousin"][i].split(",")))

C:\Users\91940\AppData\Local\Temp\ipykernel_19156\4137725763.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Cousin"][i]=(list(df["Cousin"][i].split(",")))

In [8]:
df

,ID,Name,Cousin,Cost_for_one,Rating,Restro_links
0,0,Kannur Food Point,"[Kerala, Chinese, South Indian, Arabian, J...",200,3.8,https://www.zomato.com/bangalore/kannur-food-p...
1,1,Empire Restaurant,"[North Indian, Biryani, Kebab, Chinese, So...",200,4,https://www.zomato.com/bangalore/empire-restau...
2,2,Falahaar & Kota Kachori,"[North Indian, Rajasthani, Fast Food, Mitha...",200,3.9,https://www.zomato.com/bangalore/falahaar-kota...
3,3,Domino's Pizza,"[Pizza, Fast Food, Desserts, Beverages]",200,3.6,https://www.zomato.com/bangalore/dominos-pizza...
4,4,Sri Srinivas Pork Hotel,[Fast Food],200,3.3,https://www.zomato.com/bangalore/sri-srinivas-...
...,...,...,...,...,...,...
643,643,Hotel New Prashanth Naati Shyli,"[Chinese, North Indian, South Indian, Bever...",200,-,https://www.zomato.com/bangalore/hotel-new-pra...
644,644,Samruddi Nonveg,"[South Indian, Biryani]",200,-,https://www.zomato.com/bangalore/samruddi-nonv...
645,645,Randhan - A - Bandhan,"[Bengali, Mughlai, North Indian, Chinese, ...",200,3.3,https://www.zomato.com/bangalore/randhan-a-ban...
646,646,Amudham Biryani,"[Biryani, South Indian]",200,-,https://www.zomato.com/bangalore/amudham-birya...
647,647,Green Kitchen Palace,"[Biryani, Street Food]",200,-,https://www.zomato.com/bangalore/green-kitchen...

In [9]:
Names=[]
for i in range(len(df)):
    for j in range(len(df["Cousin"][i])):
        Names.append(df["Name"][i])

In [10]:
len(Names)

2472

In [11]:
Cousins=[]
for i in range(len(df)):
    for j in range(len(df["Cousin"][i])):
        Cousins.append(df["Cousin"][i][j])

In [12]:
len(Cousins)

2472

In [13]:
df2=pd.DataFrame()
df2.insert(0,"Name",Names)

In [14]:
df2.insert(1,"Cousins",Cousins)

In [15]:
df2.head(8)

                Name        Cousins
0  Kannur Food Point         Kerala
1  Kannur Food Point        Chinese
2  Kannur Food Point   South Indian
3  Kannur Food Point        Arabian
4  Kannur Food Point         Juices
5  Kannur Food Point      Beverages
6  Kannur Food Point          Shake
7  Empire Restaurant   North Indian

In [16]:
df

,ID,Name,Cousin,Cost_for_one,Rating,Restro_links
0,0,Kannur Food Point,"[Kerala, Chinese, South Indian, Arabian, J...",200,3.8,https://www.zomato.com/bangalore/kannur-food-p...
1,1,Empire Restaurant,"[North Indian, Biryani, Kebab, Chinese, So...",200,4,https://www.zomato.com/bangalore/empire-restau...
2,2,Falahaar & Kota Kachori,"[North Indian, Rajasthani, Fast Food, Mitha...",200,3.9,https://www.zomato.com/bangalore/falahaar-kota...
3,3,Domino's Pizza,"[Pizza, Fast Food, Desserts, Beverages]",200,3.6,https://www.zomato.com/bangalore/dominos-pizza...
4,4,Sri Srinivas Pork Hotel,[Fast Food],200,3.3,https://www.zomato.com/bangalore/sri-srinivas-...
...,...,...,...,...,...,...
643,643,Hotel New Prashanth Naati Shyli,"[Chinese, North Indian, South Indian, Bever...",200,-,https://www.zomato.com/bangalore/hotel-new-pra...
644,644,Samruddi Nonveg,"[South Indian, Biryani]",200,-,https://www.zomato.com/bangalore/samruddi-nonv...
645,645,Randhan - A - Bandhan,"[Bengali, Mughlai, North Indian, Chinese, ...",200,3.3,https://www.zomato.com/bangalore/randhan-a-ban...
646,646,Amudham Biryani,"[Biryani, South Indian]",200,-,https://www.zomato.com/bangalore/amudham-birya...
647,647,Green Kitchen Palace,"[Biryani, Street Food]",200,-,https://www.zomato.com/bangalore/green-kitchen...

In [17]:
df2

                       Name        Cousins
0         Kannur Food Point         Kerala
1         Kannur Food Point        Chinese
2         Kannur Food Point   South Indian
3         Kannur Food Point        Arabian
4         Kannur Food Point         Juices
...                     ...            ...
2467  Randhan - A - Bandhan       Desserts
2468        Amudham Biryani        Biryani
2469        Amudham Biryani   South Indian
2470   Green Kitchen Palace        Biryani
2471   Green Kitchen Palace    Street Food

[2472 rows x 2 columns]

In [18]:
df3=df.merge(df2,how='inner',on="Name")

In [21]:
df3.columns=['ID', 'Name', 'Cuisine', 'Cost_for_one', 'Rating', 'Restro_links',
       'Cuisines']

In [25]:
ll=["Cuisine","Restro_links"]

In [27]:
df3.drop(ll,axis=1,inplace=True)

In [28]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2606 entries, 0 to 2605
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            2606 non-null   int64
 1   Name          2606 non-null   object
 2   Cost_for_one  2606 non-null   int64
 3   Rating        2606 non-null   object
 4   Cuisines      2606 non-null   object
dtypes: int64(2), object(3)
memory usage: 122.2+ KB

In [48]:
rat=[]
for i in df3["Ratings"] :
    if i =="-" or i=="New":
        rat.append(None)
    else:
        rat.append(i)

In [49]:
len(rat)

2606

In [50]:
df3.insert(5,"Rating",rat)

In [53]:
df3["Rating"]=df3["Rating"].astype(float)

In [54]:
df3.drop("Ratings",axis=1,inplace=True)

In [56]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2606 entries, 0 to 2605
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            2606 non-null   int64
 1   Name          2606 non-null   object
 2   Cost_for_one  2606 non-null   int64
 3   Cuisines      2606 non-null   object
 4   Rating        2500 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 122.2+ KB

In [45]:
df3[df3["Ratings"]=="New"]

       ID                          Name  Cost_for_one       Cuisines Ratings
829   181          Donne Biryani Palace           150        Biryani     New
830   181          Donne Biryani Palace           150   South Indian     New
831   181          Donne Biryani Palace           150   North Indian     New
832   181          Donne Biryani Palace           150        Chinese     New
953   205                  Bombay Kulfi           150       Desserts     New
2084  491  Narmada Chain of Restaurants           250         Andhra     New
2085  491  Narmada Chain of Restaurants           250     Hyderabadi     New
2086  491  Narmada Chain of Restaurants           250        Biryani     New
2087  491  Narmada Chain of Restaurants           250   North Indian     New
2088  491  Narmada Chain of Restaurants           250        Chinese     New
2089  491  Narmada Chain of Restaurants           250      Beverages     New

In [57]:
df3.to_csv(r"C:\Users\91940\Downloads\table2_cleandata1.csv")

In [58]:
tab=pd.read_csv(r"C:\Users\91940\Downloads\table1.csv")

In [59]:
tab

,ID,Name,Location,Dining_Review,Delivery_review
0,0,Kannur Food Point,BTM,557,48.3K
1,1,Empire Restaurant,Church Street,"4,501",14.3K
2,2,Falahaar & Kota Kachori,Koramangala 7th Block,"3,671",80K
3,3,Domino's Pizza,MG Road,83,1966
4,4,Sri Srinivas Pork Hotel,Ejipura,41,2384
...,...,...,...,...,...
643,643,Hotel New Prashanth Naati Shyli,Majestic,0,18
644,644,Samruddi Nonveg,City Market,0,2
645,645,Randhan - A - Bandhan,Wilson Garden,0,366
646,646,Amudham Biryani,Wilson Garden,0,0
647,647,Green Kitchen Palace,City Market,0,4

In [60]:
dd=[]
for i in tab["Delivery_review"]:
    if "K" in i:
        if "." in i:
            dd.append(i.replace("K","00")) 
        else:
            dd.append(i.replace("K","000"))
    else:
        dd.append(i)

In [61]:
len(dd)

648

In [62]:
len(tab)

648

In [65]:
#dd

In [66]:
dd=pd.DataFrame(dd)

In [67]:
dd[0]=dd[0].str.replace(".","")

C:\Users\91940\AppData\Local\Temp\ipykernel_19156\4274296457.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dd[0]=dd[0].str.replace(".","")

In [68]:
Del=[]
for i in dd[0]:
    Del.append(i)

In [69]:
tab.insert(5,"Delivery_Reviews",Del)

In [70]:
tab.drop("Delivery_review",axis=1,inplace=True)

In [72]:
tab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 648 entries, 0 to 647
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                648 non-null    int64
 1   Name              648 non-null    object
 2   Location          648 non-null    object
 3   Dining_Review     648 non-null    object
 4   Delivery_Reviews  648 non-null    object
dtypes: int64(1), object(4)
memory usage: 25.4+ KB

In [76]:
tab["Dining_Review"]=tab["Dining_Review"].str.replace(",","")

In [77]:
tab["Dining_Review"].astype(float)

ValueError: could not convert string to float: '12.8K'

In [79]:
tab["Delivery_Reviews"]=tab["Delivery_Reviews"].astype(float)

In [80]:
tab

,ID,Name,Location,Dining_Review,Delivery_Reviews
0,0,Kannur Food Point,BTM,557,48300.0
1,1,Empire Restaurant,Church Street,4501,14300.0
2,2,Falahaar & Kota Kachori,Koramangala 7th Block,3671,80000.0
3,3,Domino's Pizza,MG Road,83,1966.0
4,4,Sri Srinivas Pork Hotel,Ejipura,41,2384.0
...,...,...,...,...,...
643,643,Hotel New Prashanth Naati Shyli,Majestic,0,18.0
644,644,Samruddi Nonveg,City Market,0,2.0
645,645,Randhan - A - Bandhan,Wilson Garden,0,366.0
646,646,Amudham Biryani,Wilson Garden,0,0.0
647,647,Green Kitchen Palace,City Market,0,4.0

In [81]:
tab.to_csv(r"C:\Users\91940\Downloads\table1_cleandata1.csv",index=False)

In [78]:
df3.head(5)

,ID,Name,Cousin,Cost_for_one,Rating,Restro_links,Cousins
0,0,Kannur Food Point,"[Kerala, Chinese, South Indian, Arabian, J...",200,3.8,https://www.zomato.com/bangalore/kannur-food-p...,Kerala
1,0,Kannur Food Point,"[Kerala, Chinese, South Indian, Arabian, J...",200,3.8,https://www.zomato.com/bangalore/kannur-food-p...,Chinese
2,0,Kannur Food Point,"[Kerala, Chinese, South Indian, Arabian, J...",200,3.8,https://www.zomato.com/bangalore/kannur-food-p...,South Indian
3,0,Kannur Food Point,"[Kerala, Chinese, South Indian, Arabian, J...",200,3.8,https://www.zomato.com/bangalore/kannur-food-p...,Arabian
4,0,Kannur Food Point,"[Kerala, Chinese, South Indian, Arabian, J...",200,3.8,https://www.zomato.com/bangalore/kannur-food-p...,Juices

In [79]:
tab.head(5)

,ID,Name,Location,Dining_Review,Delivery_Reviews
0,0,Kannur Food Point,BTM,557,48300
1,1,Empire Restaurant,Church Street,"4,501",14300
2,2,Falahaar & Kota Kachori,Koramangala 7th Block,"3,671",80000
3,3,Domino's Pizza,MG Road,83,1966
4,4,Sri Srinivas Pork Hotel,Ejipura,41,2384

In [81]:
final=df3.merge(tab,how='inner',on="Name")

In [83]:

ll=["ID_y","Cousin","Restro_links"]
final.drop(ll,axis=1,inplace=True)

In [86]:
final.columns=['ID_x', 'Name', 'Cost_for_one', 'Rating', 'Cuisine', 'Location',
       'Dining_Review', 'Delivery_Reviews']

In [87]:
final

,ID_x,Name,Cost_for_one,Rating,Cuisine,Location,Dining_Review,Delivery_Reviews
0,0,Kannur Food Point,200,3.8,Kerala,BTM,557,48300
1,0,Kannur Food Point,200,3.8,Chinese,BTM,557,48300
2,0,Kannur Food Point,200,3.8,South Indian,BTM,557,48300
3,0,Kannur Food Point,200,3.8,Arabian,BTM,557,48300
4,0,Kannur Food Point,200,3.8,Juices,BTM,557,48300
...,...,...,...,...,...,...,...,...
2873,645,Randhan - A - Bandhan,200,3.3,Desserts,Wilson Garden,0,366
2874,646,Amudham Biryani,200,-,Biryani,Wilson Garden,0,0
2875,646,Amudham Biryani,200,-,South Indian,Wilson Garden,0,0
2876,647,Green Kitchen Palace,200,-,Biryani,City Market,0,4
2877,647,Green Kitchen Palace,200,-,Street Food,City Market,0,4

In [89]:
final.to_csv(r"C:\Users\91940\Downloads\final_table.csv",index=False)

In [91]:
final.dtypes

ID_x                 int64
Name                object
Cost_for_one         int64
Rating              object
Cuisine             object
Location            object
Dining_Review       object
Delivery_Reviews    object
dtype: object

In [98]:
final

,ID_x,Name,Cost_for_one,Rating,Cuisine,Location,Dining_Review,Delivery_Reviews
0,0,Kannur Food Point,200,3.8,Kerala,BTM,557,48300
1,0,Kannur Food Point,200,3.8,Chinese,BTM,557,48300
2,0,Kannur Food Point,200,3.8,South Indian,BTM,557,48300
3,0,Kannur Food Point,200,3.8,Arabian,BTM,557,48300
4,0,Kannur Food Point,200,3.8,Juices,BTM,557,48300
...,...,...,...,...,...,...,...,...
2873,645,Randhan - A - Bandhan,200,3.3,Desserts,Wilson Garden,0,366
2874,646,Amudham Biryani,200,-,Biryani,Wilson Garden,0,0
2875,646,Amudham Biryani,200,-,South Indian,Wilson Garden,0,0
2876,647,Green Kitchen Palace,200,-,Biryani,City Market,0,4
2877,647,Green Kitchen Palace,200,-,Street Food,City Market,0,4

In [99]:
final=final[final["Rating"]!="New"]

In [103]:
fff=final[final["Rating"]!="-"]

In [110]:
final["Name"].nunique()

625

In [112]:
fff["Name"].nunique()

594

In [111]:
final["Name"].nunique()

625

In [113]:
fff["Rating"]=fff["Rating"].astype(np.float)

C:\Users\91940\AppData\Local\Temp\ipykernel_3640\2960388250.py:1: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  fff["Rating"]=fff["Rating"].astype(np.float)
C:\Users\91940\AppData\Local\Temp\ipykernel_3640\2960388250.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fff["Rating"]=fff["Rating"].astype(np.float)

In [114]:
fff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2772 entries, 0 to 2873
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_x              2772 non-null   int64
 1   Name              2772 non-null   object
 2   Cost_for_one      2772 non-null   int64
 3   Rating            2772 non-null   float64
 4   Cuisine           2772 non-null   object
 5   Location          2772 non-null   object
 6   Dining_Review     2772 non-null   object
 7   Delivery_Reviews  2772 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 194.9+ KB

In [118]:
fff["Dining_Review"]=fff["Dining_Review"].str.replace(",","")

C:\Users\91940\AppData\Local\Temp\ipykernel_3640\3357572466.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fff["Dining_Review"]=fff["Dining_Review"].str.replace(",","")

In [122]:
dd=[]
for i in fff["Dining_Review"]:
    if "K" in i:
        if "." in i:
            dd.append(i.replace("K","00")) 
        else:
            dd.append(i.replace("K","000"))
    else:
        dd.append(i)

In [123]:
len(dd)

2772

In [126]:
fff.insert(8,"Dinings_Review",dd)

In [128]:
fff.drop("Dining_Review",axis=1,inplace=True)

C:\Users\91940\AppData\Local\Temp\ipykernel_3640\1774454963.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fff.drop("Dining_Review",axis=1,inplace=True)

In [132]:
fff["Dinings_Review"]=fff["Dinings_Review"].str.replace(",","")

C:\Users\91940\AppData\Local\Temp\ipykernel_3640\1568646909.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fff["Dinings_Review"]=fff["Dinings_Review"].str.replace(",","")

In [134]:
fff["Dinings_Review"]=fff["Dinings_Review"].str.replace(".","")

C:\Users\91940\AppData\Local\Temp\ipykernel_3640\831320360.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  fff["Dinings_Review"]=fff["Dinings_Review"].str.replace(".","")
C:\Users\91940\AppData\Local\Temp\ipykernel_3640\831320360.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fff["Dinings_Review"]=fff["Dinings_Review"].str.replace(".","")

In [136]:
fff["Dinings_Review"]=fff["Dinings_Review"].astype(np.int)

C:\Users\91940\AppData\Local\Temp\ipykernel_3640\1477870893.py:1: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  fff["Dinings_Review"]=fff["Dinings_Review"].astype(np.int)
C:\Users\91940\AppData\Local\Temp\ipykernel_3640\1477870893.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fff["Dinings_Review"]=fff["Dinings_Review"].astype(np.int)

In [140]:
fff.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2772 entries, 0 to 2873
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID_x              2772 non-null   int64
 1   Name              2772 non-null   object
 2   Cost_for_one      2772 non-null   int64
 3   Rating            2772 non-null   float64
 4   Cuisine           2772 non-null   object
 5   Location          2772 non-null   object
 6   Delivery_Reviews  2772 non-null   int32
 7   Dinings_Review    2772 non-null   int32
dtypes: float64(1), int32(2), int64(2), object(3)
memory usage: 173.2+ KB

In [139]:
fff["Delivery_Reviews"]=fff["Delivery_Reviews"].astype(np.int)

C:\Users\91940\AppData\Local\Temp\ipykernel_3640\4038902787.py:1: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  fff["Delivery_Reviews"]=fff["Delivery_Reviews"].astype(np.int)
C:\Users\91940\AppData\Local\Temp\ipykernel_3640\4038902787.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fff["Delivery_Reviews"]=fff["Delivery_Reviews"].astype(np.int)

In [141]:
fff.to_csv(r"C:\Users\91940\Downloads\final_table1.csv",index=False)

In [ ]:
def avg_price(a):
    x=df["cost_for_one"][df["location"]==a].mean()