In [35]:
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import json
import pandas as pd
from selenium.webdriver.common.by import By

In [36]:
import pandas as pd
import numpy as np

In [295]:
drive = webdriver.Chrome("chromedriver.exe")

C:\Users\91940\AppData\Local\Temp\ipykernel_11372\2846990326.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  drive = webdriver.Chrome("chromedriver.exe")

In [296]:
link ="https://www.zomato.com/bangalore"
drive.get(link)
drive.implicitly_wait(10)

In [169]:
drive.execute_script("window.scrollTo(0,47000)")

In [187]:
card= drive.find_elements(By.CLASS_NAME,"sc-1hp8d8a-0")

In [188]:
len(card)

649

In [189]:
name_of_restro= list()
for i in card:
    name_of_restro.append(i.text)

In [190]:
df=pd.DataFrame(name_of_restro)

In [191]:
df.columns=["Name"]

In [246]:
#df

In [195]:
df.drop(index=648,inplace=True,axis=1)

In [193]:
cousin_list=list()
cousin= drive.find_elements(By.CLASS_NAME,"hocLxt")
for i in cousin:
    cousin_list.append(i.text)

In [244]:
#df

In [196]:
len(cousin_list)

648

In [197]:
df.insert(1,"Cousin",cousin_list)

In [245]:
#df

In [199]:
cost_for_one=list()
cost= drive.find_elements(By.CLASS_NAME,"dengqu")
for i in cost:
    cost_for_one.append(i.text)

In [200]:
df.insert(2,"Cost_for_one",cost_for_one)

In [ ]:
#df

In [ ]:
#df.tail(20)

In [201]:

rating=list()
rat= drive.find_elements(By.CLASS_NAME,"cILgox")
for i in rat:
    rating.append(i.text)

In [202]:
df.insert(3,"Rating",rating)

In [203]:
df

,Name,Cousin,Cost_for_one,Rating
0,Kannur Food Point,"Kerala, Chinese, South Indian, Arabian, Juices...",₹200 for one,3.8
1,Empire Restaurant,"North Indian, Biryani, Kebab, Chinese, South I...",₹200 for one,4.0
2,Falahaar & Kota Kachori,"North Indian, Rajasthani, Fast Food, Mithai, B...",₹200 for one,3.9
3,Domino's Pizza,"Pizza, Fast Food, Desserts, Beverages",₹200 for one,3.6
4,Sri Srinivas Pork Hotel,Fast Food,₹200 for one,3.3
...,...,...,...,...
643,Hotel New Prashanth Naati Shyli,"Chinese, North Indian, South Indian, Beverages",₹200 for one,-
644,Samruddi Nonveg,"South Indian, Biryani",₹200 for one,-
645,Randhan - A - Bandhan,"Bengali, Mughlai, North Indian, Chinese, Rolls...",₹200 for one,3.3
646,Amudham Biryani,"Biryani, South Indian",₹200 for one,-
647,Green Kitchen Palace,"Biryani, Street Food",₹200 for one,-

In [209]:
#df.to_csv(r"C:\Users\91940\Downloads\sample1.csv",index=True)

In [210]:
name_of_restro[1:2]

['Empire Restaurant']

In [215]:
drive.find_element_by_class_name("fKpBnR")

C:\Users\91940\AppData\Local\Temp\ipykernel_11372\2447269316.py:1: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  drive.find_element_by_class_name("fKpBnR").text

'Kannur Food Point\n3.8\nKerala, Chinese, South Indian, Arabian, Juices, Beverages, Shake\n₹200 for one\n35150+ orders placed from here recently'

In [224]:
links=[]
lnks=drive.find_elements_by_class_name("ctkAaV")
# traverse list
for lnk in lnks:
   # get_attribute() to get all href
   links.append(lnk.get_attribute("href"))

C:\Users\91940\AppData\Local\Temp\ipykernel_11372\4131801427.py:2: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  lnks=drive.find_elements_by_class_name("ctkAaV")

In [272]:
import time

In [333]:
location=[]
delivery_review=[]
dining_review=[]
Name=[]
direction=[]
for i in links:
    drive.get(i)
    name_o=drive.find_element_by_class_name("eAhpQG")
    loc=drive.find_element_by_class_name("fDVcNc")
    del_rev=drive.find_elements_by_class_name("kEgyiI")
    Name.append(name_o.text)
    location.append(loc.text)
    if len(del_rev)==1:
        delivery_review.append('0')
        dining_review.append('0')
    else:
        for i in range(len(del_rev)):
            if i ==0 :
                dining_review.append(del_rev[i].text)
            elif i==1:
                delivery_review.append(del_rev[i].text)

C:\Users\91940\AppData\Local\Temp\ipykernel_11372\2236002894.py:8: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  name_o=drive.find_element_by_class_name("eAhpQG")
C:\Users\91940\AppData\Local\Temp\ipykernel_11372\2236002894.py:9: DeprecationWarning: find_element_by_class_name is deprecated. Please use find_element(by=By.CLASS_NAME, value=name) instead
  loc=drive.find_element_by_class_name("fDVcNc")
C:\Users\91940\AppData\Local\Temp\ipykernel_11372\2236002894.py:10: DeprecationWarning: find_elements_by_class_name is deprecated. Please use find_elements(by=By.CLASS_NAME, value=name) instead
  del_rev=drive.find_elements_by_class_name("kEgyiI")

In [334]:
delivery_review[-1]

'4'

In [335]:
Name[-1]

'Green Kitchen Palace'

In [336]:
dining_review[-1]

'0'

In [337]:
df2=pd.DataFrame()

In [338]:
df2.insert(0,"Name",Name)

In [339]:
df2

                                Name
0                  Kannur Food Point
1                  Empire Restaurant
2            Falahaar & Kota Kachori
3                     Domino's Pizza
4            Sri Srinivas Pork Hotel
..                               ...
643  Hotel New Prashanth Naati Shyli
644                  Samruddi Nonveg
645            Randhan - A - Bandhan
646                  Amudham Biryani
647             Green Kitchen Palace

[648 rows x 1 columns]

In [340]:
df2.insert(1,"Location",location)

In [341]:
df2.insert(2,"Dining_Review",dining_review)

In [342]:
df2.insert(3,"Delivery_review",delivery_review)

In [343]:
df2

,Name,Location,Dining_Review,Delivery_review
0,Kannur Food Point,"BTM, Bangalore",557,48.3K
1,Empire Restaurant,"Church Street, Bangalore","4,501",14.3K
2,Falahaar & Kota Kachori,"Koramangala 7th Block, Bangalore","3,671",80K
3,Domino's Pizza,"MG Road, Bangalore",83,"1,966"
4,Sri Srinivas Pork Hotel,"Ejipura, Bangalore",41,"2,384"
...,...,...,...,...
643,Hotel New Prashanth Naati Shyli,"Majestic, Bangalore",0,18
644,Samruddi Nonveg,"City Market, Bangalore",0,2
645,Randhan - A - Bandhan,"Wilson Garden, Bangalore",0,366
646,Amudham Biryani,"Wilson Garden, Bangalore",0,0
647,Green Kitchen Palace,"City Market, Bangalore",0,4

In [349]:
#df2.to_csv(r"C:\Users\91940\Downloads\table1.csv",index=True)

In [347]:
df.insert(4,"Restro_links",links)

In [352]:
#df.to_csv(r"C:\Users\91940\Downloads\table1.csv",index=True,header=True)